<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bbt.kiakoa">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".LoanApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Main Activity -->
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="blogdebenoit.wordpress.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Loan detail activity (only for phones, not tablets) -->
        <activity
            android:name=".activity.LoanDetailsActivity"
            android:label="@string/loan_lists"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- Settings activity -->
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- Broadcast receiver to interact with notifications -->
        <receiver
            android:name=".broadcast.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.bbt.kiakoa.ACTION_RETURN_LOAN" />
                <action android:name="org.bbt.kiakoa.ACTION_ADD_WEEK" />
                <action android:name="org.bbt.kiakoa.ACTION_LOAN_CONTACT" />
                <action android:name="org.bbt.kiakoa.ACTION_LOAN_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- About activity -->
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- Widget displaying in progress loans -->
        <receiver
            android:name=".widget.LoanAppWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service android:name=".widget.LoanAppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>